.container {
    margin: auto 20px;
    width:800px;
    margin: 20px auto;
}

img {
    width: 500px;
    margin: auto;
    display: block;
}

button {
    display:block;
    width: 500px;
    margin: 30px auto;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: white;
    border: 4px orangered solid;
    color: orangered;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
    color: white
}

