.input {
    display: flex;
    justify-content: center;
}

.sign-msg {
    border: 1px solid #ccc;
    padding: 30px 50px;
    width: 500px;
    border-radius: 10px;
    align-self: center;
    
}

.signin {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.user {
    height: 100vh;
   display:flex;
    width: 500px;
    
}

.msg-user {
    align-self: center;
    border: 1px solid #ccc;
    padding: 30px 50px;
    border-radius: 10px;
}